<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login/password" method="POST">
      <div style="border-bottom: 1px solid black">
        <label for="username"
          >Username
          <input type="text" name="username" required autofocus />
        </label>
      </div>
      <div style="border-bottom: 1px solid black">
        <label for="password"
          >Password
          <input type="password" name="password" required />
        </label>
      </div>
      <button type="submit" style="margin-top: 2em; width: 100%">Login</button>
    </form>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      "
    >
      <p>don't have an account?</p>
      <a href="/register" style="padding: 0; margin-left: 4px; color: gray"
        >Register</a
      >
    </div>
  </body>
</html>
